
<? xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zino.undue.com.zino.undue.dao.PerCostOfSchoolDao">

	<resultMap type="com.zino.undue.com.zino.undue.model.PerCostOfSchoolModel" id="schoolData">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="text" column="text" />
	</resultMap>

	<select id="selectAllList" resultMap="schoolData">
		SELECT img_path
		FROM school
	</select>

	<select id="selectSchoolData" resultMap="schoolData" parameterType="String">
		SELECT school_name, first, second, third, fourth, enter, img_path
		FROM school
		WHERE school_name = #{schoolName}
	</select>
</mapper>